<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns">
  </div>
</div>
<center><table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Created by</th>
      <th>Created / Last Edited</th>
    </tr>
  </thead>

  <tbody>
    <% @viewthreads.each do |viewthread| %>
      <tr>
        <td><%= link_to viewthread.Subject, viewthread %></td>
        <td><%= viewthread.CreatedBy %></td>
        <td><%= viewthread.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</center>
