<p id="notice"><%= notice %></p>
<center>
<h1>Threads</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Created By</th>
      <th>Last updated</th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><%= link_to forum.subject, forum %></a></td>
        <td><%= forum.User_id %></td>
        <td><%= forum.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
