<% if signed_in? %>
<div align="left"><br>&nbsp
  <iframe width="560" height="315" src="https://www.youtube.com/embed/SmnqsdeHFT0" frameborder="0" allowfullscreen></iframe> <align="center">
</div>
<div align="center"><br>
</div>
<% else %>
  <center><h1>You are not logged on.</h1></center>
<% end %>
